html,
body {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.link:after {
	display: block;
	position: absolute;
	content: '';
	height: 2px;
	transition: width 0.2s ease 0s;
	@apply w-0 bg-accent;
}

.active {
	@apply text-accent;
}

.active:after {
	@apply w-full bg-accent;
}
